@import url('https://fonts.googleapis.com/css2? family= Lateef & family= Lora:ital@1 & display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    background-color: #292523;
}



/*footer*/

.piePagina{
    color:  #FFFFFF;
    font-family: 'Lora', serif;  
     
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.redes{
    display: flex;
    justify-content: flex-end;
    
}
.redes img{
    width: 50px;
    height: 50px;
    padding: 14px;
}
/*inicio de pagina*/
.logo__Principal {
    display: flex;
    justify-content: center ;
}
.logo__Principal img{
    width: 500px;
}


/*heder superior*/

header{
    width: 100%;
    top: 0;
    left: 0;
}
.herder__superior{
    display: flex;
    max-width: 1440px;
    margin: auto;    
    align-items: center;
    justify-content: space-between;
     
}
.logo img{
    width: 250px;
    padding: 20px;
}


.search input{
    width: 300px;
    padding: 10px;
}
/*barramenu*/
.container__menu{
    width: 100%;
    height: 50px;
    padding: 0px 20px;

}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;

}
nav{
    height: 100%;
}
nav > ul {
    height: 100%;
    display: flex; 
    justify-content: space-between;

}
nav>ul>li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li:first-child > a{
    background-image: url(../imagenes/ciervo\ \(1\).png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li:first-child:hover > a{
    background-image: url(../imagenes/ciervo\ \(1\).png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center center;

}
nav> ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px ;
    color:#E8D8A5 ;
    font-size: 14px;
    text-decoration: none;
    transition: all 300ms ease;
}
nav> ul > li > a:hover{
    transform: scale(1.1);
    background-color: #803B04;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(#3d1f07) ;
    border-bottom-left-radius: 100px;
}
#selected{
    transform: scale(1.1);
    background-color: #803B04;
    box-shadow: 0px 0px 10px 0px rgba(#3d1f07) ;
    border-bottom-left-radius: 100px;
}
/*sub menu*/
nav> ul >li >ul{
    width: 150px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 10px 0px ;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgb(rgba(#6d3405), 0, 0);
    z-index: 10;
    transition: all 300ms ease;
}
nav> ul >li:hover >ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a{
    display: flex;
    color:#E8D8A5 ;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    justify-content: center;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: #7a3700;
    border-radius: 20px;
    color: white;
    transform: scale(1.1);
    padding-left: 10px;
    font-size: 10px;
    box-shadow: 0px 0px 10px 0px rgb(rgba(#6d3405), 0, 0);

}
/*ELEMENTOS RESPONSIVE*/
.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 20px ;
    height: 100%;
    display: none;
    align-items: center;
}
#check__menu{
    display: none;
}

@media screen and (max-width: 720px ) {

    .search input{
        display: none;
    }
    .herder__superior{
        padding: 10px;
    }
    .logo img{
        width: 200px;
        padding: 0 15px; 
    }
    nav>ul{
        flex-direction: column;
        position: fixed;
        left: 0px;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul li .a:hover{
        transform: scale(1.1);
    }
    nav ul li ul{
        left: 90px;
    }
    nav ul li:hover ul{
        top: 50px;
    }
    nav > ul >li:first-child a {
        background-position: 20px;
    }
    #selected{
        transform: scale(1.1);
    }
    .icon__menu{
        display: flex;
    }
    #check__menu:checked ~ nav > ul {
        height: 300px;
        visibility: visible;
        opacity: 1;

    }
}   
.espacio{
    padding-top: 50px;
}
#letra{
    color: #E8D8A5;
   text-align: center;
}
/*history*/
.todo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: solid orange 2px;
}

.tituloHistoria{ 
    grid-area: 1 / 1 / 3 / 3;
    color: #FFFFFF;
    font-family:'Lora', serif;
    border: rgb(236, 13, 13) 2px solid;
}

.horarios_img { 
    width: 100% ;
    margin: 0;
    color: white;
    border: solid green 2px;
    grid-area: 1 / 5 / 4 / 7;
}
.horarios{
    border: solid  green 2px;
    color: #FFFFFF;

}
.horarioTitulo { 
    background-color: black;
    color: #FFFFFF;
    width: 250px;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 40px;
    border: solid white;
    grid-area: 4 / 5 / 6 / 7; 

}
.imagenes1 {
    display: flex;
    grid-area: 1 / 3 / 2 / 5; 
    justify-content: center;
    border: white solid 2px;
    width: 40px;
    height: 30px;
    border: solid saddlebrown 2px;
}

.imagenes2 { 
    width: 509x;
    height: 100px;
    grid-area: 2 / 3 / 6 / 5; 
    border: solid blue 2px;
    
}
.imagenes3{ 
    display: flex;
    justify-content: center;
    width: 40px;
    height: 30px;
    border: solid greenyellow 2px;
    grid-area: 6 / 3 / 7 / 5; 
}


.dscripcion1 { 
    color: white;
    font-family: 'Lora', serif;
    font-size: 30px;   
    grid-area: 3 / 1 / 5 / 3; 
    border: solid slateblue 2px;
}
.descirpcion2 {
    color: white;
    font-family: 'Lora', serif;
    font-size: 30px;   
    grid-area: 5 / 1 / 7 / 3;
    border: solid rgb(6, 250, 217) 2px;
}