.cuerpo{
    background-color: black;
}
.logo{
    display: flex;
    justify-content: center;

  
}

.barraInicio a:link{
    text-decoration: none;
    color: #E8D8A5;
;
}
.barraInicio a:visited{
    color: #E8D8A5;
    
}
.barraInicio{
    display:flex;
    justify-content: space-evenly;
    font-family: 'Lora', serif;
    font-size: 25px;
}
.ubicacion{
    background: black; 
    border:black solid 10px;
    border-radius: 15px; 
    text-decoration: none;
    color: #F2F2F2;
}
.inicio{
    background: black; 
    border:black solid 10px;
    border-radius: 15px; 
    text-decoration: none;
    color: #F2F2F2;
}
.menu{
    background-color: black;
    border: black solid  10px;
    border-radius: 15px;
}
.OLDSTORY{
    background-color: black;
    border:black solid 10px;
    border-radius: 10px;
}
.historia{
    background-color: black;
    border: black solid 10px;
    border-radius: 10px;
}

.galeria{
    background-color: black ;
    border: black solid 10px;
    border-radius: 10px;
}
.piePagina{
    color:  #FFFFFF;
    font-family: 'Lora', serif;  
     
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.redes{
    display: flex;
    justify-content: flex-end;
    
}
.redes img{

    width: 50px;
    height: 50px;

}
/*history*/
h1{
    font-family:'Italianno';
    color:#E8D8A5;
}
.contexto{
    color: white;
    font-family:'Judson' ;
    font-size: 30px;     
}
.container-fluid img{

    width: 509x;
    height: 100px;
}
.horarios_img{
    width: 100% ;
    margin: 0;
    
}
.imagenes1{
    display: flex;
    justify-content: center;
    height: 50px;
    background-position: center;
    width: 20px;
}
.horarios{
    background-color: #BF895A;
    color: #FFFFFF;
    font-family:'Judson';
    width: 250px;
    text-align: center;
    
}
.horarioTitulo{
    font-family:'Italianno';
    font-size: 40px;
}
.todo{
    display:flex;
    justify-content:space-between    ;
}
.tituloHistoria{
    display:flex;
    justify-content:flex-start;

}
.piePaginahis{
    color: white;
    font-family:'Italianno';
    font-size: 25px;
}
/*galeria*/
.imagenes{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: black solid 2px;
    color: #5D5D5D;
    
}
.colorFondo{
    background-color: #5D5D5D;

}
.galery{
    border-radius: 20px;
    margin: 20px;
    width: 200px;
}
 /*menu*/

 .inicioMenu{
     display: flex;
     justify-content: space-between;
     align-items: baseline;

 }
.platos{
    background: #BF895A; 
    border: #BF895A solid 10px;
    border-radius: 15px; 
    text-decoration: none;
    color: #F2F2F2;
   
}
.cerveza{
    background: #BF895A; 
    border: #BF895A solid 10px;
    border-radius: 15px; 
    text-decoration: none;
    color: #F2F2F2;

}
.cocteles{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Judson';
    color: #FFFFFF;
}
.coctelesEspecificos{
    width: 50% ;
}
.imgLimon{
    width: 80% ;
}

.precios{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
 .cocteles h2{
     font-family: 'Italianno';
     color: #BF895A;

 }
/*cervezas*/

.tituloCevezas{   
    font-family: 'Judson';
    color: #FFFFFF;

}
/*ubicacion*/


.imagenesUbicacion{
    display: flex;
    justify-content: space-between;
    border: black solid 10px;
    width: 10%;
    gap: 40px;
}
.imgUbicacion{
    width:100% ;
}
.redesOrisontal{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #FFFFFF;
}
.informacion{
    display: flex;
    justify-content: space-around;
    font-family: 'Italianno' ;

    width: 100%;
    color: #FFFFFF;
    text-align: center;
}

/* FORMULARIOS */
.fondoFormulario{
    background-color: #803B04;

}

.logo1{
    width: 900px;
    height: 550px;
    margin-left: 220px;
}

.formulario{
    background-color: #BF895A;
    border: #BF895A solid 20px;
    border-radius: 10px;

}










